@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.blob-header {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='blur-filter'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='5' /%3E%3C/filter%3E%3C/defs%3E%3Cpath fill='%23A7F0BA' d='M29.4,27.9C19.5,34.3,-20.2,34.4,-30,28.1C-39.9,21.8,-20,9,-0.1,9C19.7,8.9,39.4,21.5,29.4,27.9Z' transform='translate(100 100)' filter='url(%23blur-filter)' /%3E%3C/svg%3E%0A");
  background-position: 50% 60%;
  background-size: 175vw 200vh;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
  opacity: 0.4;
}

.blob-c {
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  filter: blur(70px);
}

.blob-rush-vid {
	min-height: 100vh;
	overflow: hidden;
	position:absolute;
	width: 100%;
	filter: blur(40px);
  z-index: -1;
}

.shape-blob {
	background:#101110;
  /* background:#9ceb9c; */
	height: 160px;
	width: 180px;
	border-radius: 40% 50% 30% 40%;
  	animation: 
		transform 4s ease-in-out infinite both alternate,
		movement_one 5s ease-in-out infinite both;
	opacity:.7;
	position: absolute;
	left: calc(80% - 90px);
	top: 40%;
}

.shape-blob.one{
	/* background:#0e0e0e; */
  background:#a8d4ff;
	height: 500px;
	width: 450px;
	left: calc(30% - 150px);
	top: 5%;
	transform: rotate(-180deg);
	animation: transform 8s ease-in-out infinite both alternate, movement_two 30s ease-in-out infinite both;
  position: absolute;
}

.shape-blob.two{
	background:#a8d4ff;
  /* background:#030303; */
	height: 650px;
	width: 750px;
	left: calc(60% - 40px);
	top: 35%;
	transform: rotate(-180deg);
	animation: transform 8s ease-in-out infinite both alternate, movement_one 20s ease-in-out infinite both;
}

.shape-blob.three{
	/* background:#141414; */
  background:#9ceb9c;
	height: 550px;
	width: 400px;
	left: calc(80% - 125px);
	top: -20%;
	transform: rotate(-180deg);
	animation: transform 7s ease-in-out infinite both alternate, movement_two 12s ease-in-out infinite both;
}

.shape-blob.four{
	/* background:#0c0c0c; */
  background:#9ceb9c;
	height: 300px;
	width: 400px;
  left: calc(0% - 90px);
	top: 0%;
	transform: rotate(-180deg);
	animation: transform 15s ease-in-out infinite both alternate, movement_one 10s ease-in-out infinite both;
}

.shape-blob.five{
	/* background:#0f0f0f; */
  background:#9ceb9c;
	height: 600px;
	width: 650px;
  left: calc(0% - 40px);
	top: 45%;
	transform: rotate(-180deg);
	animation: transform 10s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;
}

.shape-blob.six{
	/* background:#080808; */
  background:#9ceb9c;
	height: 350px;
	width: 300px;
	left: calc(55% - 75px);
	top: -10%;
	transform: rotate(-180deg);
	animation: transform 3s ease-in-out infinite both alternate, movement_one 10s ease-in-out infinite both;
}

.shape-blob.eight {
  background: #a8d4ff;
  height: 175px;
  width: 250px;
  left: calc(40% - 215px);
  top: 10%;
  transform: rotate(-180deg);
  animation: blob-movement-one 10s ease-in-out infinite both;
}

.shape-blob.nine {
  background: #9ceb9c;
  height: 175px;
  width: 250px;
  left: calc(70% - 215px);
  top: 10%;
  transform: rotate(-180deg);
  animation: blob-movement-two 15s ease-in-out infinite both;
}

.shape-blob.ten {
  background: #9ceb9c;
  animation: blob-movement-one 10s ease-in-out infinite both;
}

.shape-blob.eleven {
  background: #a8d4ff;
  animation: blob-movement-two 15s ease-in-out infinite both;
}

.shape-blob.twelve {
  background: #a8d4ff;
  height: 175px;
  width: 300px;
  left: 10%;
  overflow: hidden;
  transform: rotate(-180deg);
  animation: blob-movement-one 10s ease-in-out infinite both;
}

.shape-blob.thirteen {
  background: #9ceb9c;
  height: 175px;
  width: 300px;
  top: 2%;
  left: 5%;
  overflow: hidden;
  transform: rotate(-180deg);
  /* animation: blob-movement-two 15s ease-in-out infinite both; */
}

/* Desktop blobs - largest size starting at md breakpoint */
@media (min-width: 768px) {

  .shape-blob.eight {
    height: 200px !important;
    width: 280px !important;
  }

  .shape-blob.nine {
    height: 200px !important;
    width: 280px !important;
  }

  .shape-blob.ten {
    height: 450px !important;
    width: 600px !important;
    top: 200px !important;
  }

  .shape-blob.eleven {
    height: 450px !important;
    width: 600px !important;
    left: 200px !important;
    top: 200px !important;
  }
}

@media (min-width: 768px) {
  .shape-blob.eight {
    height: 250px;
    width: 350px;
  }

  .shape-blob.nine {
    height: 250px;
    width: 350px;
  }
}

@media (min-width: 1024px) {
  .shape-blob.eight {
    height: 300px;
    width: 430px;
  }

  .shape-blob.nine {
    height: 300px;
    width: 430px;
  }
}

.shape-blob.rush-static-green {
  background: #9ceb9c;
  height: 600;
  width: 700;
  left: calc(70% - 215px);
  top: -8%;
  transform: rotate(-180deg);
}

.shape-blob.rush-static-blue {
  background: #a8d4ff;
  height: 650;
  width: 550;
  left: calc(70% - 20px);
  top: -8%;
  transform: rotate(-180deg);
}

